// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
// $orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$arsenic: #3D405B;
$black-coral: #545775;


// Stealthy wealthy colors:
$background-gray: #3F4045;
$smoky-black: #070707;
$black-black: #000000;
$orange: #F0A202;
$dark-orange: #F18805;
$mist: #9197AE;

