.index-demo-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15rem auto;
  height: 15rem;
  // background: #fff;
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  overflow: hidden;
  height: 280px;
  width: 250px;
  border: 0 solid #D4AF37;
  &:hover {
    border: 3px solid #D4AF37;
  }
  // margin:10px;
  // background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('https://images.unsplash.com/photo-1568114774789-b3d4dd55ed35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60');
}

.card-overlay-text {
  color: white;
  text-shadow: 0 10px 30px #000000;
  font-family: $big-john;
  font-size: 24px;
}
