<style>

</style>

<div class="welcome-message row d-flex justify-content-center">
    <p style="font-family: 'BIG JOHN'">It's not just what they see</p>
    <p style="font-family: 'SLIM JOE'"> It's also how you feel</p>
</div>

<div class="banner-home w-100">
  <div>
    <h2>Rent the supplies you need to seem wealthy</h2>
    <%= link_to "Get Started", packages_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="row d-flex align-items-around" style="font-family: 'BIG JOHN">
  <div class="package-demo-cards">
    <div class="demo-card" style="height: 350px; width: 300px; background-image: url('https://images.unsplash.com/photo-1568114774789-b3d4dd55ed35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60')">
      <div class="text-hover">
        <h3 style="font-family: 'BIG JOHN">Classy spaces</h3>
      </div>
    </div>
    <div class="demo-card" style="height: 200px; width: 300px; background-image: url(https://images.unsplash.com/photo-1531790802278-dc1baeea3013?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
       <div class="text-hover">
        <h3 style="font-family: 'BIG JOHN">Sleek belongings</h3>
      </div>
    </div>
    <div class="demo-card" style="height: 350px; width: 300px; background-image: url(https://images.unsplash.com/photo-1544030288-e6e6108867f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
       <div class="text-hover">
        <h3 style="font-family: 'BIG JOHN">Stylish home</h3>
      </div>
    </div>
    <div class="demo-card" style="height: 200px; width: 300px; background-image: url(https://images.unsplash.com/photo-1501386761578-eac5c94b800a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
       <div class="text-hover">
        <h3 style="font-family: 'BIG JOHN">Loyal fans</h3>
      </div>
    </div>
    <div class="demo-card" style="height: 363px; width: 300px; background-image: url(https://images.unsplash.com/photo-1550001437-281dcb39e26d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
       <div class="text-hover">
        <h3 style="font-family: 'BIG JOHN">Distinguished supplies</h3>
      </div>
    </div>
    <div class="demo-card" style="height: 200px; width: 300px; background-image: url(https://images.unsplash.com/photo-1538688525198-9b88f6f53126?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
       <div class="text-hover">
        <h3 style="font-family: 'BIG JOHN">Fancy furniture</h3>
      </div>
    </div>
  </div>
</div>

