.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $arsenic;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $mist;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $black-coral;
  transition: background 0.3s ease;
}

.btn-gradient:hover {
  background: $mist;
  color: white;
}
