.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $arsenic;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $mist;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $black-coral;
  transition: background 0.3s ease;
}

.btn-gradient:hover {
  background: $mist;
  color: white;
}

.btn-massive {
  margin-top: 32px;
  padding: 16px 48px;
  border-radius: 8px;
  font-size: 24px;
}
