.container {
  // display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}

.real-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.containel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0px;
  padding: 1rem 0;
}
