.container {
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}

.containel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 260px;
  padding: 1rem 0;
}
