#new-package-form {
  background-color: white;
  padding: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  margin: 0 16px 16px 16px;
  min-height: 509px;
}

.dash-banner {
  background-color: white;
  margin: 16px auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.card-list {
  overflow-x: scroll;
  width: 65vw;
  height: 200px;
  // display: -webkit-inline-box;
  display: flex;
}

.my-package-card {
  min-width: 250px !important;
  height: 200px;
  margin-right: 32px;
  // display: block !important;
}

.my-rental-card {
  width: 250px !important;
  height: 200px;
  margin-right: 32px;
}
