.navbar-lewagon {
  justify-content: space-between;
  background: #000000;
  // width: 100%;
  color: white;
  a {
    color: white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.nav-link {
  color: white !important;
}
