.navbar-lewagon {
  justify-content: space-between;
  text-align: center;
  background: #000000;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  color: white;
  height: 125px;
  a {
    color: white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.nav-link {
  color: white !important;
}
